In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\aksha\OneDrive\Documents\STATISTICS\Weather_Data.csv")

In [3]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.3,-3.5,18,9,25.0,98.67,Clear
1,01-01-2012 01:00,7.4,2.8,20,24,24.1,99.37,Rain
2,01-01-2012 02:00,15.7,13.4,21,26,25.0,99.84,Cloudy
3,01-01-2012 03:00,4.9,-2.6,27,15,24.1,100.94,Mainly Clear
4,01-01-2012 04:00,-13.4,-19.7,30,4,25.0,102.32,Mostly Cloudy

In [4]:
df.shape

(8784, 8)

In [5]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [6]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [7]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [8]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

### Q. 1) Find all the unique 'Wind Speed' values in the data.

In [9]:
df["Wind Speed_km/h"].nunique()

34

In [10]:
df["Wind Speed_km/h"].unique()

array([ 9, 24, 26, 15,  4,  0, 19, 17, 11, 22, 35, 13, 20,  6,  7, 30, 32,
       41, 39, 28, 44, 33, 37, 52, 46,  2, 50, 48, 57, 63, 43, 83, 70, 54],
      dtype=int64)

### Q. 2) Find the number of times when the 'Weather is exactly Clear'.

In [11]:
weather_count=df["Weather"].value_counts()["Clear"]
print(weather_count)

1326

 ### Q. 3) Find the number of times when the 'Wind Speed was exactly 4 km/h'.

In [12]:
windspeed_count=len(df[(df["Wind Speed_km/h"]==4)])
print(windspeed_count)

474

### Q. 4) Find out all the Null Values in the data.

In [13]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

### Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [14]:
df1=df.rename(columns={"Weather":"Weather Condition"})
df1

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,01-01-2012 00:00,-1.3,-3.5,18,9,25.0,98.67,Clear
1,01-01-2012 01:00,7.4,2.8,20,24,24.1,99.37,Rain
2,01-01-2012 02:00,15.7,13.4,21,26,25.0,99.84,Cloudy
3,01-01-2012 03:00,4.9,-2.6,27,15,24.1,100.94,Mainly Clear
4,01-01-2012 04:00,-13.4,-19.7,30,4,25.0,102.32,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8779,9/30/2012 5:00,1.4,-3.7,97,22,48.3,100.16,Cloudy
8780,9/30/2012 6:00,-4.6,-9.5,98,11,48.3,101.46,Mostly Cloudy
8781,9/30/2012 7:00,1.5,-6.3,99,30,24.1,101.48,Clear
8782,9/30/2012 8:00,-6.3,-13.5,99,15,24.1,101.90,Cloudy
8783,9/30/2012 9:00,24.5,14.7,100,11,25.0,102.98,Mostly Cloudy

### Q. 6) What is the mean 'Visibility' ?

In [15]:
df["Visibility_km"].mean()

27.664446721311478

###  Q. 7) What is the Standard Deviation of 'Pressure' in this data?

In [16]:
df["Press_kPa"].std()

0.8440047459486459

 ### Q. 8) What is the Variance of 'Relative Humidity' in this data ?

In [17]:
df["Rel Hum_%"].var()

286.2485501985015

 ### Q. 9) Find all instances when 'Snow' was recorded.

In [18]:
snow_count=df[df["Weather"]=="Snow"]
snow_count

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
11,01-01-2012 11:00,-6.2,-9.6,37,35,4.8,101.56,Snow
70,03-01-2012 22:00,-4.0,-6.6,62,22,16.1,100.48,Snow
73,04-01-2012 01:00,2.3,-3.4,64,35,25.0,103.43,Snow
105,05-01-2012 09:00,-1.8,-4.2,73,15,6.4,101.28,Snow
112,05-01-2012 16:00,1.7,-0.3,75,6,9.7,101.47,Snow
...,...,...,...,...,...,...,...,...
8573,9/22/2012 13:00,-6.0,-10.2,82,19,16.1,101.71,Snow
8650,9/25/2012 18:00,-4.6,-6.6,52,4,12.9,100.48,Snow
8671,9/26/2012 15:00,-5.9,-10.5,60,13,16.1,101.01,Snow
8713,9/28/2012 1:00,-5.2,-7.8,72,33,4.0,101.33,Snow
8734,9/28/2012 8:00,0.7,-1.2,79,30,8.0,101.22,Snow

In [37]:
df3=df[["Weather"]][df['Weather']=='Snow']
df3

     Weather
11      Snow
70      Snow
73      Snow
105     Snow
112     Snow
...      ...
8573    Snow
8650    Snow
8671    Snow
8713    Snow
8734    Snow

[390 rows x 1 columns]

 ### Q. 10) Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.

In [19]:
df2=df[(df["Wind Speed_km/h"]>24) & (df["Visibility_km"]==25)]
df2

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
2,01-01-2012 02:00,15.7,13.4,21,26,25.0,99.84,Cloudy
73,04-01-2012 01:00,2.3,-3.4,64,35,25.0,103.43,Snow
126,06-01-2012 06:00,10.0,5.4,77,39,25.0,101.30,Cloudy
158,07-01-2012 14:00,1.9,-2.1,87,26,25.0,100.87,"Rain,Snow Grains"
184,08-01-2012 16:00,14.2,9.2,35,44,25.0,99.49,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8707,9/27/2012 5:00,-1.0,-6.0,70,33,25.0,98.56,Mostly Cloudy
8714,9/28/2012 10:00,2.6,0.3,72,26,25.0,101.60,Rain
8738,9/29/2012 10:00,22.8,12.3,80,28,25.0,101.60,Mostly Cloudy
8745,9/29/2012 17:00,-10.3,-12.9,82,28,25.0,102.16,Cloudy
8776,9/30/2012 23:00,19.2,13.2,93,43,25.0,101.60,Mainly Clear

In [20]:
df3=df[["Wind Speed_km/h","Visibility_km"]][(df["Wind Speed_km/h"]>24) & (df["Visibility_km"]==25)]
df3

      Wind Speed_km/h  Visibility_km
2                  26           25.0
73                 35           25.0
126                39           25.0
158                26           25.0
184                44           25.0
...               ...            ...
8707               33           25.0
8714               26           25.0
8738               28           25.0
8745               28           25.0
8776               43           25.0

[308 rows x 2 columns]

### Q. 11) What is the Mean value of each column against each 'Weather Condition ?

In [21]:
df.mean(numeric_only=True)

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

### Q. 12) What is the Minimum & Maximum value of each column against each 'Weather Condition ?

In [22]:
df.iloc[0:7].agg(["min","max"])

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
min,01-01-2012 00:00,-13.4,-19.7,18,0,24.1,98.50,Clear
max,01-01-2012 06:00,15.7,13.4,30,26,25.0,102.39,Rain

### Q. 13) Show all the Records where Weather Condition is Fog.

In [23]:
fog=df[df["Weather"]=="Fog"]
fog

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
13,01-01-2012 13:00,9.5,7.8,40,13,6.4,100.90,Fog
53,03-01-2012 05:00,-3.6,-4.3,57,7,9.7,101.32,Fog
136,06-01-2012 16:00,14.8,13.5,80,19,9.7,100.86,Fog
197,09-01-2012 05:00,2.1,0.7,43,11,8.0,101.44,Fog
278,12-01-2012 14:00,1.2,0.6,70,13,6.4,103.22,Fog
...,...,...,...,...,...,...,...,...
8475,9/18/2012 11:00,6.2,5.4,56,7,4.8,102.03,Fog
8511,9/19/2012 22:00,15.7,15.4,66,7,8.0,101.93,Fog
8518,9/19/2012 8:00,-2.9,-4.5,68,6,6.4,100.41,Fog
8537,9/20/2012 3:00,-0.5,-2.1,74,7,4.0,100.81,Fog
8771,9/30/2012 19:00,12.8,12.2,91,19,4.8,100.60,Fog

In [24]:
df4= df[["Weather"]][df["Weather"]=='Fog']
df4

     Weather
13       Fog
53       Fog
136      Fog
197      Fog
278      Fog
...      ...
8475     Fog
8511     Fog
8518     Fog
8537     Fog
8771     Fog

[150 rows x 1 columns]

### Q. 14) Find all instances when 'Weather is Clear' or 'Visibility is above 40'.

In [25]:
## 14
df5=df[(df["Weather"] == 'Clear')|(df["Visibility_km"]>40)]
df5

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.3,-3.5,18,9,25.0,98.67,Clear
9,01-01-2012 09:00,20.0,3.8,35,17,48.3,100.11,Clear
16,01-01-2012 16:00,23.8,17.6,42,9,25.0,100.52,Clear
17,01-01-2012 17:00,-6.8,-9.8,42,20,48.3,100.76,Mainly Clear
18,01-01-2012 18:00,2.3,-2.4,42,6,48.3,101.05,Cloudy
...,...,...,...,...,...,...,...,...
8774,9/30/2012 21:00,23.0,14.7,92,13,48.3,101.93,Mostly Cloudy
8777,9/30/2012 3:00,9.3,5.8,95,9,48.3,101.25,Mainly Clear
8779,9/30/2012 5:00,1.4,-3.7,97,22,48.3,100.16,Cloudy
8780,9/30/2012 6:00,-4.6,-9.5,98,11,48.3,101.46,Mostly Cloudy
8781,9/30/2012 7:00,1.5,-6.3,99,30,24.1,101.48,Clear

In [26]:
df6=df[["Weather",'Visibility_km']][(df["Weather"]== 'Clear') | (df["Visibility_km"] > 40)]
df6

            Weather  Visibility_km
0             Clear           25.0
9             Clear           48.3
16            Clear           25.0
17     Mainly Clear           48.3
18           Cloudy           48.3
...             ...            ...
8774  Mostly Cloudy           48.3
8777   Mainly Clear           48.3
8779         Cloudy           48.3
8780  Mostly Cloudy           48.3
8781          Clear           24.1

[3027 rows x 2 columns]

### Q. 15) Find all instances when : 
#### A. 'Weather is Clear' and 'Relative Humidity is greater than 50' 
#### or 
#### B. 'Visibility is above 40'

In [27]:
df7=df[((df["Weather"]=="Clear")& (df["Rel Hum_%"]>50))|(df["Visibility_km"]>40)]
df7

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
9,01-01-2012 09:00,20.0,3.8,35,17,48.3,100.11,Clear
17,01-01-2012 17:00,-6.8,-9.8,42,20,48.3,100.76,Mainly Clear
18,01-01-2012 18:00,2.3,-2.4,42,6,48.3,101.05,Cloudy
19,01-01-2012 19:00,-12.7,-17.2,43,17,48.3,101.16,Clear
23,01-01-2012 23:00,29.5,16.8,45,4,48.3,101.07,Mainly Clear
...,...,...,...,...,...,...,...,...
8774,9/30/2012 21:00,23.0,14.7,92,13,48.3,101.93,Mostly Cloudy
8777,9/30/2012 3:00,9.3,5.8,95,9,48.3,101.25,Mainly Clear
8779,9/30/2012 5:00,1.4,-3.7,97,22,48.3,100.16,Cloudy
8780,9/30/2012 6:00,-4.6,-9.5,98,11,48.3,101.46,Mostly Cloudy
8781,9/30/2012 7:00,1.5,-6.3,99,30,24.1,101.48,Clear

In [35]:
df8=df[["Weather",'Rel Hum_%','Visibility_km']][(df["Weather"] == 'Clear') & (df["Rel Hum_%"] > 50) | (df['Visibility_km'] > 40)]
df8

            Weather  Rel Hum_%  Visibility_km
9             Clear         35           48.3
17     Mainly Clear         42           48.3
18           Cloudy         42           48.3
19            Clear         43           48.3
23     Mainly Clear         45           48.3
...             ...        ...            ...
8774  Mostly Cloudy         92           48.3
8777   Mainly Clear         95           48.3
8779         Cloudy         97           48.3
8780  Mostly Cloudy         98           48.3
8781          Clear         99           24.1

[2864 rows x 3 columns]